<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio - API de Saúde</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <h1>🧠 Teste da API de Saúde</h1>
    <p>Insira um ID de cliente (ex: 2, 3 ou 999) para prever suas condições de saúde.</p>
    
    <div>
        <input type="number" id="client_id_input" placeholder="ID do Cliente">
        <button id="search_button">Buscar</button>
    </div>
    
    <div id="results">
        </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>
